<div class="row-fluid">
  <div class="span12">                                
    <div class="row-fluid">
      <div class="span9">      
        <ul class="nav nav-tabs">
             <li><a href="#section1" data-toggle="tab">ข้อมูลนิสิต</a></li>
             <li><a href="#section2" data-toggle="tab">เอกสารนำส่ง</a></li>          
             <li><a href="#section3" data-toggle="tab">ใบเสร็จรับเงิน</a></li>   
        </ul>
   
      <div class="tab-content">  
      
        <div class="tab-pane active" id="section1">             
          <div class="row-fluid">
             <div class="span6">
                <label class="control-label"><strong>รหัสนิสิต</strong>   {{order.student.id}}</label> 
             </div>
            <div class="span6">
                <label class="control-label"><strong>ชื่อ-สกุล</strong>   {{order.student.prefix_name}}{{order.student.first_name}}   {{order.student.last_name}}</label>            
            </div>    
         </div>   
 
    <div class="row-fluid">
      <div class="span6">
          <label class="control-label"><strong>ระดับการศึกษา </strong> {{student.level.name}}</label> 
      </div>
      <div class="span6">
          <label class="control-label"><strong>รูปแบบ</strong>   {{order.type}}</label>          
      </div>    
    </div>      
   
    <div class="row-fluid">
      <div class="span6">        
          <label class="control-label"><strong>    </strong> {{student.faculty.name}}</label>         
      </div>
       <div class="span6">
         <label class="control-label"><strong>หลักสูตร/สาขา</strong>   {{student.program.name}}</label>            
       </div>      
    </div>   
     
    <div class="row-fluid">
      <div class="span10">        
          <label class="control-label"><strong>ชื่อเรื่อง (ภาษาไทย) </strong> {{order.thai_title.item}}</label>         
      </div>    
    </div>        
     
    <div class="row-fluid">
       <div class="span10">
         <label class="control-label"><strong>ชื่อเรื่อง (ภาษาอังกฤษ)</strong>   {{order.eng_title.item}}</label>            
       </div>      
    </div>       
     
    <div class="row-fluid">
      <div class="span10">        
          <label class="control-label"><strong>ที่อยู่ </strong> {{order.address.item}}</label>         
      </div>      
    </div>        
     
    <div class="row-fluid">
      <div class="span6">        
          <label class="control-label"><strong>หมายเลขโทรศัพท์ </strong> {{order.tel.item}}</label>         
      </div>
       <div class="span6">
         <label class="control-label"><strong>E-mail </strong>   {{order.email.item}}</label>            
       </div>      
    </div>   
     
       <div class="control-group">
          <label><strong>(1) จัดทำเล่ม</strong></label> 
          <label class="control-label" ng-show="order.hardcopy.item">
           <strong>ปกแข็ง</strong> 
           จำนวน {{order.hardcopy.item}} เล่ม เป็นเงิน {{order.total_section_1h|number}} บาท
         </label>
         
         <label class="control-label" ng-show="order.softcopy.item">
           <strong>ปกอ่อน</strong> 
           จำนวน   {{order.softcopy.item}} เล่ม เป็นเงิน   {{order.total_section_1s|number}} บาท
           </label>
           
         <label class="control-label " ng-show="order.more.item">
           จำนวนหน้า   {{order.more.item}} หน้า เป็นเงิน   {{extra_page|number}}  บาท
         </label>      
         
         <label class="control-label"> รวมเป็นเงิน {{order.total_section_1h + order.total_section_1s + extra_page|number}} บาท</label>          
    </div> 
 
    <div class="control-group">
      <label><strong>(2) ถ่ายเอกสาร</strong></label> 
         <label class="control-label" ng-show="order.preface.item">
           <strong>ส่วนแรก</strong> 
           จำนวน   {{order_obj.order.preface.item}} หน้า เป็นเงิน   {{order_obj.total_section_2p()|number}}  บาท
         </label>
         
         <label class="control-label"><strong>ส่วนเนื้อหา (ขาว-ดำ)</strong></label> 
         
          <label class="control-label"> 
          
          ขนาด A4 จำนวน   {{order.wd_A4.item}} หน้า เป็นเงิน {{(order_obj.order.total_section_2wd_A4 * order_obj.book())|number}} บาท
         </label> 
          
          <label class="control-label"> 
          ขนาด F4 จำนวน   {{order.wd_F4.item}} หน้า เป็นเงิน {{(order_obj.order.total_section_2wd_F4 * order_obj.book())|number}} บาท         
          </label>
           
          <label class="control-label"> 
          ขนาด B4 จำนวน   {{order.wd_B4.item}} หน้า เป็นเงิน {{(order_obj.order.total_section_2wd_B4 * order_obj.book())|number}} บาท         
          </label>
                   
          <label class="control-label"> 
          ขนาด A3 จำนวน   {{order.wd_A3.item}} หน้า เป็นเงิน {{(order_obj.order.total_section_2wd_A3  * order_obj.book())|number}} บาท         
          </label>

         <label class="control-label"><strong>ส่วนเนื้อหา (สี)</strong></label> 
         
          <label class="control-label"> 
          ขนาด A4 จำนวน   {{order.color_A4.item}} หน้า เป็นเงิน {{(order_obj.order.total_section_2color_A4 * order_obj.book())|number}} บาท
         </label> 
          
          <label class="control-label"> 
          ขนาด F4 จำนวน   {{order.color_F4.item}} หน้า เป็นเงิน {{(order_obj.order.total_section_2color_F4  * order_obj.book())|number}} บาท         
          </label>
           
          <label class="control-label"> 
          ขนาด B4 จำนวน   {{order.color_B4.item}} หน้า เป็นเงิน {{(order_obj.order.total_section_2color_B4  * order_obj.book())|number}} บาท         
          </label>
                   
          <label class="control-label"> 
          ขนาด A3 จำนวน   {{order.color_A3.item}} หน้า เป็นเงิน {{(order_obj.order.total_section_2color_A3  * order_obj.book())|number}} บาท         
          </label>         
         
         
         <label class="control-label"> รวมเป็นเงิน {{order_obj.total_section2()|number}} บาท</label>         
    </div> 
 
     <div class="control-group">
      <label><strong>(3) จัดทำซีดีพร้อมสกรีนแผ่น</strong></label> 
         <label class="control-label " ng-show = "order.cdcopy.item">
          จำนวน   {{order.cdcopy.item}} แผ่น เป็นเงิน {{order.total_section_3|number}} บาท</label>         
    </div>
 
     <div class="control-group">
      <label><strong>(4) จัดรูปแบบ</strong></label> 
         <label class="control-label" ng-show = "order.format.item">
           จำนวน   {{order.format.item}} หน้า เป็นเงิน {{order.total_section_4|number}} บาท</label>         
    </div>
  
     <div class="control-group">
      <label><strong>รวมเป็นเงินทั้งสิ้น  {{order.total_section_1h+order.total_section_1s+extra_page+order_obj.total_section2()+order.total_section_3+order.total_section_4|number}} บาท</strong></label>         
    </div>    
                
    <div class="control-group">
        <div class="controls">

          <button ng-click="destroy()" ng-show="order._id" ng-hide="order.payment_id" class="btn btn-success"><i class="icon-trash icon-white"></i> Delete</button>
              <a href="#/" class="btn btn-danger"><i class="icon-remove icon-white"></i> Cancel</a> 
         </div>
   </div>
          </div>
        
   <div class="tab-pane" id="section2"> 
     <div class="row-fluid">
       <div class="span12">
         สถานะภาพการชำระเงิน<p class="muted"><span ng-show="order.payment_id">  จ่ายเงินแล้ว</span></p>
     <span>เอกสารที่นำส่งให้สำนักพิมพ์มหาวิทยาลัยนเรศวร มีดังนี้</span>
     
     
     <ol>
      <li ng-show="order.attach.scriptthesis">
        <span><p class="muted"> ต้นฉบับวิทยานิพนธ์ฉบับสมบูรณ์ จำนวน 1 เล่ม</p></span>
      </li>       
      <li ng-show="order.attach.cdscriptthesis">
        <span><p class="muted"> ซีดีข้อมูลวิทยานิพนธ์ฉบับสมบูรณ์ จำนวน 1 แผ่น</p></span>
      </li>        
      <li ng-show="order.attach.form24">
        <span><p class="muted"> บว.24-1 แบบขออนุมัติสำเร็จการศึกษา (ป.โท)</p></span>
      </li>     
      <li ng-show="order.attach.form25">
        <span><p class="muted"> บว.25 แบบรายงานผลการตรวจรูปแบบวิทยานิพนธ์ (ป.โท/ป.เอก)</p></span>
      </li>     
      <li ng-show="order.attach.form26">
        <span><p class="muted"> บว.26 แบบนำส่งวิทยานิพนธ์ฉบับสมบูรณ์ (ป.โท)</p></span>
      </li>     
      <li ng-show="order.attach.form27">
        <span><p class="muted"> บว.27 แบบนำส่งวิทยานิพนธ์ฉบับสมบูรณ์ (ป.เอก)</p></span>
      </li>           
       <li ng-show="order.attach.form28">
        <span><p class="muted"> บว.28 แบบขออนุมัติสำเร็จการศึกษา (ป.เอก)</p></span>
      </li>          
      <li ng-show="order.attach.scriptis">
        <span><p class="muted"> ต้นฉบับการค้นคว้าอิสระฉบับสมบูรณ์ จำนวน 1 เล่ม</p></span>
      </li>     
      <li ng-show="order.attach.cdscriptis">
        <span><p class="muted"> ซีดีข้อมูลการค้นคว้าอิสระฉบับสมบูรณ์ จำนวน 1 แผ่น</p></span>
      </li>                       
      <li ng-show="order.attach.approve">
        <span><p class="muted"> (สนพ.2) แบบรับรองการแก้ไขเล่มการค้นคว้าอิสระ (สำหรับนิสิตระดับปริญญาโท แผน ข)</p></span>
      </li>
     </ol>
  
     
     การรับงานคืน <p class="muted">{{order.returnthesis}}</p>
     
      </div>
    </div>
   </div>      
        
   <div class="tab-pane" id="section3"> 
      <div class="row-fluid">
        <div class="span12">
            <img src="image/Gradu_logo.jpg">    
               <div class="row-fluid">
             <div class="span6">
         <address>
           <small><strong>บัณฑิตวิทยาลัย มหาวิทยาลัยนเรศวร</strong><br>
              99 หมู่9 ถ.พิษณุโลก-นครสวรรค์ อ.เมือง จ.พิษณุโลก 65000<br>
              โทรศัพท์ 055 968833-36 โทรสาร 055 968826<br></small>
         </address>
       </div>
    
      <div class="span6">
        <label><h4><strong>ใบเสร็จรับเงิน</strong></h4></label> 
        <label><strong>(เอกสารสำคัญห้ามสูญหาย)</strong></label> 
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span5">
                <label class="control-label"><small><strong>เลขที่ใบเสร็จ</strong></small>     {{order.payment_id.id}}/{{order.payment_id.year}}</label> 
      </div>

       <div class="span6">
        <label class="control-label"><small><strong>วันที่</strong></small>   {{order.date.date}}  {{order.date.month}}  {{order.date.year}}</label> 
      </div>     
    </div>
   
    <div class="row-fluid">
      <div class="span6">
          <label class="control-label"><small><strong>ได้รับเงินจาก</strong></small>   {{order.student.prefix_name}}{{order.student.first_name}}   {{order.student.last_name}}</label> 
      </div>
      <div class="span4">
          <label class="control-label"><small><strong>รหัสนิสิต</strong></small>   {{order.student.id}}</label> 
      </div>    
    </div>   
 
    <div class="row-fluid">
      <div class="span3">
          <label class="control-label"><small><strong>รูปแบบ</strong></small>   {{order.type}}</label>
      </div>
      <div class="span6">
          <label class="control-label"><small><strong>ระดับการศึกษา </strong></small> {{student.level.name}}</label>                 
      </div>   
    </div>      
  
    <div class="row-fluid">
      <div class="span4">
          <label class="control-label"><small><strong>    </strong></small> {{student.faculty.name}}</label>            
      </div>
       <div class="span7">
         <label class="control-label"><small><strong>หลักสูตร/สาขา</strong></small>   {{student.program.name}}</label>            
      </div>     
    </div>   
    
 <br>
 
       <div class="span8">
        <table class="table table-bordered table-condensed">
          <tr>
            <td>
             <center><strong> รายการ</strong></center>
            </td>
            <td>
             <center><strong> จำนวน</strong></center>
            </td>
            <td>
              <center><strong> จำนวนเงิน</strong></center>
            </td>
          </tr>
          
          <tr>
            <td>
              1.  ค่าจัดทำเล่ม 
            </td>
            <td><span class="pull-right">{{order_obj.book()}} เล่ม</span></td>
            <td><span class="pull-right">{{order.total_section_1h + order.total_section_1s + extra_page|number}} บาท</span></td>
          </tr>
          
          <tr>
            <td>
              2.  ค่าสำเนาเอกสาร 
            </td>
            <td><span class="pull-right">{{order_obj.book()}} เล่ม</span></td>
            <td><span class="pull-right">{{order_obj.total_section2()|number}} บาท</span></td>
          </tr>
          
          <tr>
            <td>
              3.  ค่าจัดทำซีดี พร้อมสกรีนแผ่น
            </td>
            <td><span class="pull-right">{{order.cdcopy.item}} แผ่น</span></td>
            <td><span class="pull-right">{{order.total_section_3|number}} บาท</span></td>
          </tr>
          
          <tr>
            <td>
              4.  ค่าจัดรูปแบบ
            </td>
            <td><span class="pull-right">{{order.format.item}} หน้า</span></td>
            <td><span class="pull-right">{{order.total_section_4|number}} บาท</span></td>
          </tr>
          
          <tr>
             <td><center><strong><span>รวมเป็นเงินทั้งสิ้น</span></strong></center></td>
             <td></td>
            <td>
              <strong><span class="pull-right">{{order.total_section_1h + order.total_section_1s + extra_page + order_obj.total_section2() + order.total_section_3 + order.total_section_4|number}} บาท</span>
              </strong>
            </td>
          </tr>          
        </table>   
        
    <div class="row-fluid">
         <div class="span6">
             ได้รับเงินไว้เป็นการถูกต้องแล้ว
         </div>
      <br>
      <div class="span6">
        <center> <label>.......................................</label></center>  <br>
        <center> <label>{{order.date.date}}  {{order.date.month}}  {{order.date.year}}</label></center>      
        <small><center><label>เจ้าหน้าที่ผู้รับเงิน</label></center></small>             
      </div>
    </div>
        
         <div class="span12">
           <span>หมายเลขโทรศัพท์ติดต่อนิสิต {{order.tel.item}}</span><br><br>
          <small><span>หมายเหตุ  ใบเสร็จรับเงินฉบับนี้จะสมบูรณ์เมื่อมีลายเซ็นต์เจ้าหน้าที่ผู้เงินของบัณฑิตวิทยาลัย</span></small><br><br>
        </div>
 
          <center>            
            <button ng-click="pay()" class="btn btn-warning" ng-hide="order.payment_id" type="submit"> <i class="icon-ok icon-white"></i> จ่ายเงินแล้ว</button>    
            <button ng-click="save()" class="btn btn-info" ng-disabled="isNotStudent()" type="submit" onclick="window.print();"> <i class="icon-print icon-white"></i> พิมพ์ใบเสร็จรับเงิน</button>   
          </center>
        <div> 
      </div>
     </div>
                  
        </div>
      </div>
    </div>
  </div>
